<launch>
    <arg name="config_locks"  default="$(find rr_rover_zero_v2_driver)/config/twist_mux_locks.yaml"/>
    <arg name="config_topics" default="$(find rr_rover_zero_v2_driver)/config/twist_mux_topics.yaml"/>
<arg name="node_name" default="rr_rover_zero_v2_driver_node" />

  <!-- Optionally launch in GDB, for debugging -->
  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- driver parameters -->
  <arg name="port" default="/dev/rover-zero-v2" />
  <arg name="canaddress" default="8" />
  <!-- driver node -->
  <node pkg="rr_rover_zero_v2_driver" type="rr_rover_zero_v2_driver_node" name="$(arg node_name)"
        output="screen" launch-prefix="$(arg launch_prefix)" >
    <param name="port" value="$(arg port)" />
    <remap from="/cmd_vel" to="/cmd_vel/managed" />
  </node>

  <!--    &lt;!&ndash;  Twist Mux  &ndash;&gt;-->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
      <remap from="cmd_vel_out" to="/cmd_vel/managed"/>

      <rosparam file="$(arg config_locks)"  command="load"/>
      <rosparam file="$(arg config_topics)" command="load"/>
  </node>

  <!--     Control input manager-->
  <node pkg="rr_control_input_manager" type="control_input_manager.py" name="rr_control_input_manager_node" output="log" >
    <param name="driver" value="xboxdrv"/>
    <param name="wired_or_wireless" value="wireless"/>
    <rosparam file="$(find rr_control_input_manager)/config/input_topics.yaml" command="load"/>
  </node>
  
  <!-- PS4 Ubuntu Driver -->
    <include file="$(find ds4_driver)/launch/ds4_driver.launch" >
        <arg name="addr" value="" />
        <arg name="use_standard_msgs" value="false" />
    </include>

  <!-- PS4 Mapper -->
  <node pkg="rr_control_input_manager" type="ps4_mapper.py" name="ps4_mapper" output="screen" >
      <rosparam command="load" file="$(find rr_rover_zero_v2_driver)/config/ps4_controller_config.yaml" />
      <param name="stamped" value="True" />
  </node>


</launch>
